
body {
    background-color: rgb(159, 243, 243);
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
.counter {
    font-size: 24px;
    margin-top: 20px;
}
button{
    border-radius: 20%;
    border-color: rgb(53, 44, 44);
}
h1{
    color: rgb(53, 44, 44);
}
.counter{
    font-size: x-large;
    color: rgb(53, 44, 44);
}
span{
    color: blue;
}
